body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/OIG1.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
 

  .container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
  }
  
  .btn {
    background-color: hsl(200, 100%, 50%);
    border: 1px solid hsl(200, 100%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }
  
  .btn:hover {
    border-color: black;
  }

  #player-stats {
    margin-top: 20px;
    font-weight: bold;
  }

  .image-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px
        rgba(0, 0, 0, 0.2);
    z-index: 9999;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

/* Styling for the close button */
.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Styling for the image */
.image-container img {
    max-width: 100%;
    height: auto;
}