body {
background-image: url(../images/Memory/MemoryBackground.jpeg);
background-size: cover;
}

.labels {
  font-variant: small-caps;
  color: rgb(129, 126, 126);
  text-shadow: 2px 2px #131313;
  font-size: 20px;
  float: left;
}

.infobox,
#spielbereich {
  border: 10px solid transparent;
  background-color: #ffffff;
  padding: 10px;
  border-image: linear-gradient(rgb(129, 126, 126), rgb(10, 10, 10)) 1;
  outline: 1px solid black;
  margin-top: 30px;
  margin-left: 10px;
  float: left;
}

.karte {
  height: 66px;
  width: 66px;
  background-image: url(../images/Memory/memoryBg.png);
  float: left;
  margin: 2px;
}

#spielbereich {
  overflow: auto;
}
